[2020-03-20 00:38] dillonhuff opened #3 "Delete possibly dead branch"
@joyliu37 if you are done with branch memtile_debug could you delete it?

[2020-03-21 05:28] #3 closed

[2020-04-09 20:25] dillonhuff opened #7 "Delete auto_vec branch"
@joyliu37 I justed merged auto_vec, could you delete it and check out a fresh copy of master?

[2020-04-12 21:23] dillonhuff opened #8 "I think stack smashing is fixed"
@David-Durst I had made an offset mistake in the bit vector library. It should be fixed now. LMK if not.

[2020-04-12 21:50] David-Durst commented on #8
@dillonhuff fixed on my computer. rebuild_and_run.sh runs to completion with no errors.

[2020-04-12 21:50] #8 closed

[2020-04-12 21:51] dillonhuff commented on #8
Nice!

On Sunday, April 12, 2020, David Durst <notifications@github.com> wrote:

[2020-04-20 23:50] #7 closed

[2020-04-21 05:53] joyliu37 opened #9 "The lastest stable commit"
I run into an assert(false) in sum_diff_test function. I am wondering what is the lastest stable commit that I can checkout?

[2020-04-21 17:51] dillonhuff commented on #9
I don't see that error when I run `./rebuild_and_run.sh`. Could you post the error?

[2020-04-21 17:55] joyliu37 commented on #9
NVM. I pull the newest commit and it runs. Thanks!

[2020-04-25 00:16] dillonhuff opened #11 "Delete nn_apps"
@joyliu37 I just merged nn_apps and fixed the compute unit generation bugs. The application now runs and generates code to the file `cnn_conv_layer.cpp`

Please delete the nn_apps branch and check out a new branch off of master.

[2020-04-25 00:26] joyliu37 commented on #11
Thanks! I found in the `cnn_conv_layer.cpp`, the sector has unsupported offset. Is that means the address pattern is not supported by current codegen ?

[2020-04-25 00:30] joyliu37 commented on #11
Oops my bad. I did not turn on the line wrap. there are some complex logic before that assertion.

[2020-04-25 01:01] dillonhuff commented on #11
@joyliu37 glad its working. LMK what your next step in getting app compiled to the CGRA will be.

[2020-04-25 01:01] #11 closed

[2020-04-27 05:44] joyliu37 opened #12 "Create a Lowering Pass"
I was reviewing some of the buffer optimization code in `ubuffer.cpp`. Specifically, functions inside `generate_hls_code` including`generate_prefix`,  `generate_selection`and `generate_bundle`. I think I understand the optimization(bank create, merging, addressing logic creation) happened here. All these passes are happening along with codegen and all the bank/address selection logic are embedded

[2020-04-27 06:47] dillonhuff commented on #12
@joyliu37 I think that this can be done without affecting me, but it needs to be done in small steps with frequent merges. We should talk about it more tomorrow.

[2020-04-27 23:19] dillonhuff commented on #12
@joyliu37 I notice that you have pushed some code to your branch and mention that the tests could run. If so could you create a pull request so I can merge the ubuffer banking method into the master branch?

[2020-04-27 23:24] joyliu37 commented on #12
Yeah, I have some meeting going on this afternoon. I will try to merge the master and create a PR. Thought It's some trivial code change.

[2020-04-27 23:27] joyliu37 commented on #12
Should I keep track of the code generated in soda app?

[2020-04-27 23:29] dillonhuff commented on #12
No just git ignore it. I will force add the things I want.

On Monday, April 27, 2020, Qiaoyi(Joey) Liu <notifications@github.com>
wrote:

[2020-04-28 01:55] dillonhuff commented on #12
@joyliu37 I like your tiny pull request! Just merged it. I'm going to clean it up a little bit and then we should work on adding support for different inner bank offset computations.

[2020-04-28 02:09] dillonhuff commented on #12
@joyliu37 Just finished the cleanup. I also added a field to `CodegenOptions` to pick between different bank generation settings.

Could you pull the latest master and let me know that you see the changes?

[2020-04-29 17:41] joyliu37 commented on #12
Yeah. I see the bankOffsetMode, I will continue work on the address generation today.

[2020-04-29 23:44] dillonhuff commented on #12
@joyliu37 great. LMK if you have any problems. And please push the code you worked on tonight!

[2020-05-01 00:02] dillonhuff opened #14 "Restore -1, 1 stencil in upsample_stencil_auto"
@dillonhuff be sure to add indexing to move the start 0, 0 internally.

[2020-05-04 19:30] dillonhuff commented on #12
@joyliu37 is the linear bank offset code working now? I notice you have moved on to writing a bank merging pass.

If the new addressing scheme is working could you make a pull request with it?

[2020-05-04 21:21] joyliu37 commented on #12
I could generate the correct string but did not integrated with any test. I feel we should test before merge it.  Do you think it's possible to test this linear address with the HLS backend?

[2020-05-04 21:40] dillonhuff commented on #12
Yes of course we can test with the HLS backend. Just generate two versions of the HLS code, one with `CodegenOptions` set so that it generates linear addresses, and another with `CodegenOptions` set so that it generates stack addresses. Compile and run both of them and then compare the output streams to ensure that they are the same.

[2020-05-05 02:05] joyliu37 commented on #12
Sounds good, I saw the `run_regression_tb` function automatically run the generate code and check the functionality. Am I correct?
I may need to create a mac unit for the cnn_test. Currently I could just sum all the data together, which is a naive scenarios.

[2020-05-05 02:18] dillonhuff commented on #12
Yes `run_regression_tb` will generate the test harness, compile it, run it, and then return the sequence of output values from the program as an `std::vector` of strings.

Yes, you should create a mac unit function and put it in `conv_3x3.h`. Multiply and add are both supported by `hw_uint`. LMK if you have problems creating it.

[2020-05-06 19:45] dillonhuff commented on #12
@joyliu37 were you able to create the unit test? Please make a pull request if so. I see that you have made some significant changes and I don't want us to get out of sync.

[2020-05-06 19:55] joyliu37 commented on #12
Did you mean the unit test for linear address? I did not finish the bank merging stuff for generating the config for memtile. Shall we sync after scrum? I want to know your opinion about the changes that I am currently making.

[2020-05-06 20:18] dillonhuff commented on #12
Yes, I did mean the unit test for linear addresses. Lets talk after the scrum.

[2020-06-02 21:41] dillonhuff opened #18 "Remove AccessPattern field from ubuffer"

[2020-06-02 21:42] dillonhuff opened #19 "Merge producer_maps and producer_maps_new"
Same for consumer maps.

[2020-06-02 21:42] dillonhuff opened #20 "Add gold file and compare to it in memtile test"

[2020-06-03 01:26] dillonhuff commented on #20
@joyliu37 just added a goldfile comparison for the memtile test.

[2020-06-03 01:26] #20 closed

[2020-06-03 01:45] #19 closed

[2020-06-03 19:57] joyliu37 commented on #18
Resolved!

[2020-06-03 19:57] #18 closed

[2020-06-06 00:18] joyliu37 opened #22 "CoreIR Codegen for Port Bundle"
I found in the current CodeGen you are using a flatten long width bit interface. In order to wire the bundle with correct port, I need to slice or concat.
I just quick chat with Ross about the port bundle interface. He suggest to use an array of 16bit interface. And that's the formal format for them to do PnR. And it will be easier to `sel` the port inside a wide bundle.
Is these reasonable to you

[2020-06-06 00:22] dillonhuff commented on #22
@joyliu37 sure thats fine.

[2020-06-06 04:35] dillonhuff commented on #22
Also this might be relevant for @jeffsetter since he is generating the compute units for the applications.

[2020-06-06 06:01] jeffsetter commented on #22
Sounds good to me. However, I believe we have had trouble with CoreIR simulating hierarchical interfaces in the past.

[2020-06-06 22:36] dillonhuff commented on #22
@joyliu37 can we close this issue now?

[2020-06-08 05:46] joyliu37 opened #24 "Question about Get_lexmax_event function"
I found I accidentally use the `get_lexmax_event` function in the bankmerge test. I do not know if these broken some test.  https://github.com/dillonhuff/clockwork/blob/4388460404955112ee95d11a7de9b2ccb622cb7c/ubuffer.cpp#L1040

I think this function is just figure out the write statement that the read statement depend on. I do not know what the following code's purpose.https://github.com/dillonhu

[2020-06-08 05:47] #22 closed

[2020-06-08 06:07] dillonhuff commented on #24
@joyliu37 I'm not sure what you mean. Is it a problem that you use `get_lexmax_events`?

[2020-06-09 01:27] #24 closed

[2020-06-11 00:18] jeffsetter opened #25 "Simple pointwise output values"
I created a simple example that multiplies the input value by 1 and outputs it. The output value I am receiving though is a running sum. The files are attached. Is there some issue with how they are constructed?

[conv_3_3_compute.txt](https://github.com/dillonhuff/clockwork/files/4761860/conv_3_3_compute.txt)
[conv_3_3_memory.txt](https://github.com/dillonhuff/clockwork/files/4761861/conv_3_3_mem

[2020-06-11 00:31] dillonhuff commented on #25
@jeffsetter thanks for reporting this.

I don't see any compute unit that multiplies an input by 1 in `conv_3_3_compute.txt`.

Here is what I see in the compute file:

[code]

Which compute unit does the multiply by 1? And why is there a compute unit (`hcompute_conv_stencil_1`) that adds one value to another?

[2020-06-11 02:55] jeffsetter commented on #25
Hm, yea I explained it poorly since Halide simplified the computation. But essentially if you look at the memory and compute files, the output should just be the input file (unless I'm understanding it incorrectly).

My guess is something odd is happening in hcompute_conv_stencil_1, where the compute should be adding the image_copy to itself. (Where the previous stage sets all initial values to 0)

[2020-06-11 03:56] dillonhuff commented on #25
Makes sense. Could you send me the halide CPU output for this application?

[2020-06-11 04:01] dillonhuff commented on #25
Also, when I look at the application the first and second loop nests have different bounds (64 x 64 and 62 x 62 respectively). If this is a pointwise operation why are the bounds different?

[2020-06-11 04:11] jeffsetter commented on #25
The input image values are: 1 2 3 4 5 6 ...
The cpu output image values are: 1 2 3 4 5 6 ...
The clockwork output image values are: 1 3 6 10 15 21 ...

The Halide app originally was a 3x3 convolution with weights, hence the decreasing loop bound size.
[code]

[2020-06-11 04:14] dillonhuff commented on #25
@jeffsetter ok I just worked on it a little more, and I think I know what the problem is.

[2020-06-11 19:33] dillonhuff commented on #25
@jeffsetter I've added that example as a test case and pushed a fix that works for me. Could you pull the latest version and re-try?

[2020-06-11 21:18] jeffsetter commented on #25
Sweet, it works! (Along with 3x3 convolution with all non-zero weights).

Any insight on what was going wrong?

[2020-06-11 21:38] dillonhuff commented on #25
Yeah, basically when I was refactoring the algorithm that generates the controller that selects banks to read and write from I introduced an error that wasn't checked by my existing reduce-like test cases. Its hard to explain in text.

[2020-06-11 21:38] #25 closed

[2020-06-12 22:53] dillonhuff opened #26 "Rename "conv_3x3.h""
That is not really a descriptive name since it is more of a standard library of compute units.

[2020-06-13 15:27] #26 closed

[2020-06-19 01:35] dillonhuff opened #29 "CoreIR link issue on mac"
@joyliu37 I'm trying to build with COREIR=1 for the first time since pulling your PR and getting a dynamic link error:

[code]

I have not changed anything in my coreir setup, and before the latest PR from `lower_ubuffer` I was able to build with coreir without a problem.

Have you built with coreir on mac lately and if so have you seen this problem?

[2020-06-21 19:02] #29 closed

[2020-06-23 00:56] chtsao8 opened #30 "/misc/fix_barvinok_makefile.py failing"
I can't seem to build clockwork using source ./misc/kiwi_setup.sh. Attached is the full output of the build:

[output.txt](https://github.com/dillonhuff/clockwork/files/4816297/output.txt)

Some info: I'm running on Ubuntu 18.04.3. I first tried compiling with gcc-4.8 but switched to gcc-9 for c++17 compatibility. I also believe I should have GMP installed (libgmp10:amd64 is what dpkg tells me), b

[2020-06-23 01:45] dillonhuff commented on #30
@chtsao8 thanks for sending this!

Actually from looking at the log neither NTL (the first dependency), nor barvinok can find GMP.

Could you try adding `GMP_PREFIX=/your/path/to/gmp` to the `configure` call for NTL in the script and then rebuilding and sending me the log if it fails.

[2020-06-23 02:43] chtsao8 commented on #30
That did the trick! Thanks for the help.

[2020-06-23 02:43] #30 closed

[2020-07-13 05:26] joyliu37 opened #34 "UBuffer CoreIR Interface Changing"
I found the interface of ubuffer coreir module has changed.
https://github.com/dillonhuff/clockwork/blob/40149cfa3cb3a9173a73f718d70a75e338bedac0/ubuffer.cpp#L1108-L1118

As far as I understand, the `ctrl` signal is the bank selection logic?

One more question, is the naming matters here? I think in the cgra mapping it use `_en` and `_valid` instead of `_wen` and `_ren` suffix.

[2020-07-14 18:27] #34 closed

[2020-07-20 07:12] joyliu37 opened #38 "Is the sequence of wide fetch width configuration matters?"
I am generating the address controller for lake memory tile.
I am wondering if the sequence of the these controller matters? Should I follow the sequence from smaller starting address to large?

https://github.com/dillonhuff/clockwork/blob/37a76adc033c9212fd7278e6fd761e77603f4478/lake_controllers/identity_stream/agg2sram.csv#L14-L33

[2020-07-20 07:14] joyliu37 commented on #38
I also did not understand why the `stride_0` is 0 and `stride_1` is not zero. Should we also add `range` to the controller?

[2020-07-20 15:42] mbstrange2 commented on #38
Obviously Dillon would be the best resource for this, but what I do is actually get rid of that loop layer - since it has range 1 and stride 0 it has no actual effect. So we don’t use this loop in our configuration.

[2020-07-20 15:46] kavyasreedhar commented on #38
+1 to Max's comment. The range in the controller is what Dillon calls "extent". It is shared between the address and valid generators and should be at the top of the file.

[2020-07-20 16:38] dillonhuff commented on #38
The sequence of controllers does not matter. The reason stride_0 is always
zero and it’s extent is always 1 is because variable 0 is the root variable.

On Monday, July 20, 2020, kavyasreedhar <notifications@github.com> wrote:

[2020-07-20 17:53] dillonhuff commented on #38
@dillonhuff sounds good. I'll see you then!

[2020-07-21 19:04] #38 closed

[2020-07-23 19:20] mbstrange2 opened #41 "Vectorization + Sequence Emit"
Joey,

I was hoping you could help me out with your autovectorization and make it generate single width addresses for items internally represented as multiple ports. For instance, the agg and sram interfaces are still represented as individual data units with address strides to reflect that (strides of 4 on all 4 read ports of agg), but we control the address at the word level. This could be reduc

[2020-07-25 19:12] joyliu37 commented on #41
Address the sram word level access pattern in this commit.  https://github.com/dillonhuff/clockwork/commit/2fae9e60cd1992d916bae8d442599e09cdae8872

[2020-07-31 06:20] joyliu37 opened #44 "Halide Generate Address Dimension Sequence"
I want to double check the halide generated clockwork dimension sequence.
For instance
 `  hcompute_conv_stencil_7->add_load("hw_input_stencil", "7", "(conv_s1_r_x + conv_s1_x)", "(conv_s1_r_y + conv_s1_y)");`
Does this mean `add_load(buf_name, inner_most<-, ->outer most)`
Or `add_load(buf_name, outer_most<-, ->inner most)`
I think clockwork follow the C++ array dimension sequence.

[2020-07-31 17:46] jeffsetter commented on #44
I'm intending that these memory operations have indices from inner-most to outer-most.
[code]

[2020-07-31 23:38] joyliu37 commented on #44
Could you flip the dimension from outer most to inner most?

[2020-08-01 01:36] jeffsetter commented on #44
What are you asking? Do you want it to be
```add_load(buf_name, inner_most<-, ->outer most)```

Or are you asking if you're able to switch the order in Halide?

[2020-08-01 07:09] joyliu37 commented on #44
I want it to be
`add_load(buf_name, outer_most<-, ->inner most)`

[2020-08-02 20:59] jeffsetter commented on #44
Changed Halide to generate it in that order.

[2020-08-02 20:59] #44 closed

[2020-08-11 18:43] dillonhuff opened #52 "Camera pipeline DSE compute does not match the camera pipeline app"
@jack-melchert @rdaly525 I tried to run camera pipeline using the new dse compute file and I cannot find one of the compute units:

[code]

The original camera pipeline had a really weird schedule, which Jeff has now corrected, so perhaps the compute units need to be re-mapped for the more sensible schedule?

[2020-08-11 19:55] jack-melchert commented on #52
I generated the mapped file from the camera_pipeline in dse_apps, did you try that one?

[2020-08-11 20:02] dillonhuff commented on #52
@jack-melchert yes and it has the same issue. The problem isn't with the compute units themselves, it is that the compute units in the `dse_apps` folder were generated from a Halide schedule for camera pipeline that doesn't match the one that Jeff is currently using (which can be seen here: https://github.com/dillonhuff/clockwork/blob/68cecd1f5d87df3a0a20d6c615f72de011192cfd/example_progs.cpp#L163

[2020-08-11 21:24] jack-melchert commented on #52
Sorry that took so long, I ran into a metamapper bug. I used the new camera_pipeline so hopefully this should work.

[2020-08-11 21:47] dillonhuff commented on #52
@jack-melchert just tried it. It gets through coreir generation, so thats great!. However I get a bunch of errors about async resets:

[code]

I don't think the CGRA is actually going to support async reset for individual registers on the fabric, so I'm not sure what the fix is.

[2020-08-11 22:04] jack-melchert commented on #52
Hm yeah that ASYNCRESET signal seems like an auto-generated signal for every magma (maybe every peak?) circuit. Its not really being used for anything so maybe there is a way to disable it and remove it from the PE. I'll look into it.

[2020-08-11 22:14] dillonhuff commented on #52
@jack-melchert sounds good. LMK when you push a new version.

[2020-08-11 22:54] jack-melchert commented on #52
Just pushed the updated version, hopefully it works now.

[2020-08-11 23:13] dillonhuff commented on #52
@jack-melchert @rdaly525 my testbench for it passed! I'm actually a bit nervous that that just worked so easily.

Did the mapping change the latencies of any of the compute units? I'm assuming all latencies are zero except the roms, which have latency 1.

[2020-08-11 23:15] jack-melchert commented on #52
Yep, all compute units have a latency of 0 for now. Thats great news!

[2020-08-11 23:16] dillonhuff commented on #52
Well thats good. Have you added latency info to the compute unit file so that I can pull it out automatically?

[2020-08-11 23:19] jack-melchert commented on #52
Nope not yet, I'll check with ross to see what the status of that part is.

[2020-08-12 00:06] rdaly525 commented on #52
There is a branch on the metamapper that accomplishes this, but minor bugs generating coreir

[2020-08-12 03:31] jack-melchert commented on #52
Dillon what exactly does your testbench cover? Does it pass it through place and route or is it before that stage?

[2020-08-12 03:55] dillonhuff commented on #52
@jack-melchert its a test right before place and route. The next step is to actually place and route it. How come?

[2020-08-12 03:57] jack-melchert commented on #52
Great, just wanted to know so I can keep Priyanka and Kathleen up to date on our progress

[2020-08-12 04:03] dillonhuff commented on #52
Cool, should I try to place, route, and run it now? Or are there other changes you'd like to make first?

Also is there a comprehensive list of apps you want to run for the paper?

[2020-08-12 04:38] jack-melchert commented on #52
Yes it would be awesome if you could try place and routing! Currently we are just trying to get the other apps through Ross's metamapper. The apps we are targeting right now are all in the dse_apps folder. When I get the other ones through halide to hardware I will add them to that folder

[2020-08-12 05:26] dillonhuff commented on #52
@jack-melchert what branches of garnet (and other repos that generate the design) are you using? I assume anything with custom PEs will need custom verilog?

[2020-08-12 17:18] jack-melchert commented on #52
Ok so we are using this branch of garnet https://github.com/StanfordAHA/garnet/tree/dse-cgra-without-lassen
It requires this repo https://github.com/jack-melchert/peak_generator
Unfortunately the peak_generator repo has requirement for a custom version of ast_tools, so it might be easiest to create a new python virtual environment before installing the requirements.
Let me know if you run into any

[2020-08-12 18:07] dillonhuff commented on #52
@jack-melchert so would it be best to build this using the aha flow docker container, but just switching to the `dse-cgra-without-lassen` branch of garnet?

Just as background: has anyone placed, routed, and run anything using this DSE flow before?

[2020-08-12 18:25] jack-melchert commented on #52
Sure it might be easier using docker. Here is a new script to get it all installed
[code]

It needs the info from the mapper to go through pnr successfully, so this script will error our on the `aha regress fast` command

[2020-08-12 18:56] dillonhuff commented on #52
@jack-melchert thanks! Just got it installed, and got to the failure you mentioned.

A few things:
* Could you generate mapped compute files for pointwise? It'll be simpler for me to get the flow working with a smaller example (less time to generate the fabric, and its easy to eye check the output)
* What is the fix for this mapper error? What other info does pnr need that it doesn't currently get

[2020-08-12 19:00] jack-melchert commented on #52
Sure I will work on creating that mapped compute file now.

I am also looking into this mapper error. I think its simply getting the mapper to correctly generate the netlist and bus for custom PEs. I'm not sure how hard coded the information coming from Keyi's mapper is.

[2020-08-12 20:02] jack-melchert commented on #52
So I've updated garnet and clockwork with the new PE for the pointwise app. You should just need to pull both of those repos.

[2020-08-12 20:23] dillonhuff commented on #52
@jack-melchert I'm working on it now.

[2020-08-12 20:37] dillonhuff commented on #52
@jack-melchert apparently the "arst" issue is back. When I try to map:

[code]

[2020-08-12 20:43] jack-melchert commented on #52
Ah thats annoying. I'll check with Ross and see if he knows why that has come back.

[2020-08-12 20:48] rdaly525 commented on #52
@dillonhuff can you change the command to ${COREIR_PATH}/bin/coreir --inline --load_libs commonlib --input pointwise.json --output pointwise.v -p "wireclocks-arst; wireclocks-clk"

[2020-08-12 20:58] dillonhuff commented on #52
@rdaly525 I did that and it fixed the verilog generation for pointwise. Thanks!

However, there is no arst on the fabric for each tile right? Does that port actually need to be connected when we place and route on the fabric?

[2020-08-12 21:00] rdaly525 commented on #52
That is correct, there is no routable arst. Although I think there is a literal arst for each tile in the verilog design of the CGRA.

[2020-08-12 21:08] dillonhuff commented on #52
@rdaly525 so should we delete the arst fields on each tile during mapping?

@jack-melchert where in the PE instance is the instruction configuration? Is it the value of this constant connected to this: https://github.com/dillonhuff/clockwork/blob/2522735892fe45a1bd36465849d5f0fb2a3b8977/coreir_apps/dse_paper/pointwise.json#L1891

[2020-08-12 21:10] rdaly525 commented on #52
Ah I think there was some miscommunication. @jack-melchert, you should not be calling the wireclocks passes unless you are generating verilog.

[2020-08-12 21:11] jack-melchert commented on #52
Whats the alternative? Garnet generates verilog so this issue will show up unless we have a workaround.

@dillonhuff Yep thats correct, the "inst" signal is the instruction config.

[2020-08-12 21:16] rdaly525 commented on #52
I am just saying, after mapping an application do not call the wireclocks passes (unless we are testing the mapped application via verilog). The PEs themselves in the mapped_app will have clk/arst ports and that is unavoidable.

[2020-08-12 21:23] dillonhuff commented on #52
@rdaly525 @jack-melchert well I can at least get the thing to place, though routing is failing. BTW do names of ports on `WrappedPE_wrapped` correspond exactly to names of ports on the PE tile?

[2020-08-12 21:25] jack-melchert commented on #52
Yes I believe that's correct.

[2020-08-12 21:29] dillonhuff commented on #52
@jack-melchert so the PE has an `inst` port and we should place the instruction constant on the fabric and route it to the `inst` port?

[2020-08-12 21:36] jack-melchert commented on #52
Actually there is a special name for the instr port when referring to the full PE tile, its called "config". Sorry about that, didn't realize until I wrote a test.

[2020-08-13 23:48] jack-melchert commented on #52
Hey Dillon, just curious if you got the place and route in garnet working?

[2020-08-14 00:35] jack-melchert commented on #52
Also, is it possible for me to run your pre-pnr verilog testbench? We're thinking of pushing that through our power flow to get some preliminary evaluation numbers.

[2020-08-14 01:18] dillonhuff commented on #52
@jack-melchert I have not PnRed it yet, thats going to take more work.

You could definitely run the pre-pnr testbench. I've added versions with raw address generators + dual port srams here: https://github.com/dillonhuff/clockwork/tree/master/coreir_apps/dse_raw_sram

[2020-08-14 01:21] jack-melchert commented on #52
Great, thanks! For now we are planning on going with pre-PnR evaluation, so PnR shouldn't be a bottleneck for the DSE paper at least.

[2020-08-14 01:33] dillonhuff commented on #52
@jack-melchert thats good to hear! I'm working with Max to get a tile with built in addrgen too, so LMK if you want a different tile.

[2020-08-14 20:55] jack-melchert commented on #52
Would it be possible for you to teach me how to generate the testbench as well? I really only care about the mapped verilog with PE and memory tiles, but the testbench would be nice for verification purposes.

[2020-08-14 21:05] dillonhuff commented on #52
@jack-melchert sure, if you have clockwork downloaded you can just do:

[code]

and it will generate and run the testbench. You could also make a custom command and add it so that you have your own flow. LMK if you want to chat about it via zoom.

[2020-08-14 22:19] jack-melchert commented on #52
That seems to be working for me! For camera pipeline, I get some errors about unconnected wires in the rom. Do you see the same errors?

[2020-08-14 22:22] jack-melchert commented on #52
Maybe it would be a good idea to have a chat over zoom to go over how I would set this up for a new app. Let me know if you are free today anytime before 5pm (outside of the scrum).

[2020-08-14 23:01] dillonhuff commented on #52
@jack-melchert I'm free right after the scrum, so we could meet then

[2020-08-15 00:06] jack-melchert commented on #52
Awesome its working now! Thanks for your help, also you probably want to remove all of those assert(false) things, they are still in master

[2020-08-15 00:41] dillonhuff commented on #52
@jack-melchert nice!

LMK if you are going to need the DNNs, since that will take more work on my end.

[2020-08-16 04:51] jack-melchert commented on #52
So Kathleen is running into an issue with the coreir_mem verilog modules have a init parameter in the wrong place, not sure if this is an issue that can be fixed in this flow though. Do you know if this might be fixed with a change to a memory tile that has actual sram macros?

[2020-08-16 04:53] dillonhuff commented on #52
@jack-melchert its probably related to her coreir version. Maybe it is this issue: https://github.com/rdaly525/coreir/issues/938 https://github.com/rdaly525/coreir/issues/932

[2020-08-16 04:54] dillonhuff commented on #52
@jack-melchert is the verilog malformed? Or is it a coreir error?

[2020-08-16 04:59] jack-melchert commented on #52
The verilog is malformed, the coreir to verilog works just fine. I'll update my coreir version and generate the verilog again

[2020-08-16 05:12] dillonhuff commented on #52
@jack-melchert on which application? Could you send me the text of the error?

[2020-08-16 05:18] jack-melchert commented on #52
Its on camera pipeline, in the verilog I generate with ./rebuld_and_run cgra_flow.
[code]
On line 3404 of the verilog, that init should be moved into the parameter block at the top

[2020-08-16 05:20] dillonhuff commented on #52
@jack-melchert that looks like the actual coreir primitive has a verilog generation error. Have you asked @rdaly525 about this?

[2020-08-16 05:22] jack-melchert commented on #52
That makes sense, I'll follow up with him tomorrow morning

[2020-09-08 00:39] joyliu37 opened #63 "Question about hardware schedule variable ddiff"
I was revisiting the hardware_schedule method in https://github.com/dillonhuff/clockwork/blob/a6a7e2c7bc0d15c3559e8b7388faf4a3507b95bf/app.cpp#L1353
And I found there is a modulo schedule variable you solved in the end has the suffix `_ddiff`. I am wondering what does this variable stand for. Is that related to the dependency distance between two statement?

[2020-09-08 08:43] dillonhuff commented on #63
@joyliu37 the `_ddiff` suffix is not related to dependence distance. Its hard to explain in text.

[2020-09-10 00:43] #63 closed

[2020-09-18 01:07] joyliu37 opened #65 "Ubuffer CoreIR Interface"
Maybe I have done the merging incorrectly. I want to double check the ubuffer coreIR module interface. I saw most of your dual port tile has interface with `rst_n` and `flush`. But some of the lake tile I was working on has only a `reset`. I got some coreIR generation error. Shall we unify the interface?
The definition is here.
https://github.com/dillonhuff/clockwork/blob/c0df21514c86f276c5bdb428a

[2020-09-18 22:57] #65 closed

[2020-09-20 06:14] joyliu37 opened #66 "Total Latency in Garnet Hardware Schedule"
I found there is a increment by two in this line of code, which give me extra delay in the schedule. I do not know what's the purpose of this line.
https://github.com/dillonhuff/clockwork/blob/c0df21514c86f276c5bdb428a1815dc3d105c7b4/build_set_test.cpp#L16165

[2020-09-20 06:14] joyliu37 opened #67 "Total Latency in Garnet Hardware Schedule"
I found there is a increment by two in this line of code, which give me extra delay in the schedule. I do not know what's the purpose of this line.
https://github.com/dillonhuff/clockwork/blob/c0df21514c86f276c5bdb428a1815dc3d105c7b4/build_set_test.cpp#L16165

[2020-09-20 06:16] joyliu37 opened #68 "Total Latency = op_latency +2 in garnet hardware schedule"
I found there is a `+2` in this line of code, which give me extra delay in the schedule. I do not know what's the purpose of this extra 2 cycle latency.
https://github.com/dillonhuff/clockwork/blob/c0df21514c86f276c5bdb428a1815dc3d105c7b4/build_set_test.cpp#L16165

[2020-09-20 06:16] joyliu37 opened #69 "Total Latency = op_latency +2 in garnet hardware schedule"
I found there is a `+2` in this line of code, which give me extra delay in the schedule. I do not know what's the purpose of this extra 2 cycle latency.
https://github.com/dillonhuff/clockwork/blob/c0df21514c86f276c5bdb428a1815dc3d105c7b4/build_set_test.cpp#L16165

[2020-09-20 06:18] #66 closed

[2020-09-20 06:19] #67 closed

[2020-09-20 06:19] #68 closed

[2020-09-21 20:25] dillonhuff opened #70 "rst_n no longer exists in the ubuffer?"
@joyliu37 I'm trying to re-create the `ins.size() == 0` assertion failure, but when I run `cgra-flow` I get:

[code]

Is this related to the interface change you mentioned in our meeting?

[2020-09-21 20:26] dillonhuff commented on #69
@joyliu37 its just to pad the schedule to be conservative.

[2020-09-21 20:29] #12 closed

[2020-09-21 20:29] #14 closed

[2020-09-21 21:47] #52 closed

[2020-09-21 22:08] joyliu37 commented on #69
Can I remove that? I think our hardware can match that latency. Otherwise we need extra shift register for the row of pixel did not go to memory tiles.

[2020-09-21 22:10] joyliu37 commented on #70
Yeah. I think I accidentally remove some `rst_n` signal in the codegen. I fix that in my local branch, let me do a PR quickly.

[2020-09-21 22:49] #70 closed

[2020-09-21 22:49] dillonhuff commented on #69
@joyliu37 lets just leave it for now. When we have all the tests working for the stencil apps we can tighten up the schedule.

[2020-09-25 02:21] #69 closed

[2020-09-28 00:32] dillonhuff opened #72 "rom_compute.h does not exist?"
@jeffsetter I'm trying to run the tests in `cgra-flow` and I when I get to `rom()` I get the error:

[code]

Could you add the `rom_compute.h` header to the repo?

[2020-09-28 00:35] dillonhuff opened #73 "strided_conv_compute.h missing?"
@jeffsetter this one is similar to #72 when running the `cgra-flow` tests I get:

[code]

Could you add `strided_conv_compute.h` to the repo?

[2020-09-28 03:32] #72 closed

[2020-09-28 03:32] #73 closed

[2020-09-28 05:51] dillonhuff opened #75 "Make a smaller version of mobilenet?"
@jeffsetter I can schedule the current `mobilenet`, but I cannot actually implement it with the 16 bit controllers we have because the total number of loop iterations for some of the loops is over 100,000.

The whole application takes around 250k cycles with the current scheduler. Could you cut down the tile sizes (maybe by a factor of 3 in each direction) so that we can test it as a smaller appli

[2020-09-28 22:10] jeffsetter commented on #75
I'll create an example that is smaller, but we might want to increase the loop iterators as larger than 16bits, since having 100k cycles isn't that uncommon for these tiled applications.

[2020-09-28 23:20] dillonhuff commented on #75
@jeffsetter thanks man. I totally agree that we need wider control registers.

[2020-09-29 02:11] #75 closed

[2020-10-12 23:47] dillonhuff opened #79 "change pmap = nullptr in consumer_maps"

[2020-10-15 06:56] joyliu37 opened #83 "Can I remove this extra one cycle delay for single port garnet test"
https://github.com/dillonhuff/clockwork/blob/1d3ced992f8fc86261eee46e35fa498c6adb363d/build_set_test.cpp#L16041-L16048

[2020-10-15 06:57] joyliu37 commented on #83
Is this just conservative or it has some special purpose?

[2020-10-15 07:54] dillonhuff commented on #83
Just leave it in. It is adding 1 cycle to the latency of the *entire application* so it really does not matter for performance.

[2020-10-15 19:17] joyliu37 commented on #83
So is this one cycle latency capture by any shift-register? Since we need to add that delay between input and the first buffer.

[2020-10-15 19:35] dillonhuff commented on #83
No, the compiler assumes that the controller outside the fabric that is sending data to the fabric is aware of the schedule, so there is no need for a shift register. If the schedule says the first data will be read from the input on cycle 20, then the controller for the fabric should just send in the first data on cycle 20.

Did that answer your question?

[2020-10-16 02:34] joyliu37 commented on #83
I think this is not true for current garnet backend. Because we did not send any schedule information to the test bench which is generated by halide.
I think I could fix this by substracting the lexmin of the global 1D schedule when generating lake configuration.

[2020-10-17 02:26] #83 closed

[2020-10-29 07:54] joyliu37 opened #89 "Remove cwlib coreIR library"
Currently all backend memory module is migrated to cgralib. cwlib will not be used in the future.
The current laketile is renamed to cgralib.mem_amber and it will be remapped to cgralib.mem after garnet test mapping(previous Keyi's CGRA mapper. )

[2020-11-03 04:02] dillonhuff opened #92 "Coreir error in harris_sch1"
@jeffsetter apparently something is malformed in the coreir for harris_sch1:

[code]

The instance in question seems to be in the compute file:

[code]

Any idea whats up here? Several of the other harris variants run without issue.

[2020-11-03 17:09] jeffsetter commented on #92
Looking at the compute file, `const_n255__1148$11` is correctly created just one time.

It looks like you might be running a constant duplication pass?
My guess is that the duplication pass is trying to create another constant of a similar name, and it ended up choosing a name that already exists?

[2020-11-03 19:41] dillonhuff commented on #92
@jeffsetter something is very odd about this harris variant. As you suggested turning off constant duplication in mapping removes this error, but then I get a new error:

[code]

And when I comment out the mapping pass altogether the design compiles to verilog and simulates, but the output does not match the CPU result. None of the other Harris variants have any of these problems.

Any idea why th

[2020-11-03 20:06] jeffsetter commented on #92
I'm not sure why it's causing so many issues, but this schedule basically creates no intermediate buffers. So the computation kernel is rather large.

The header compute file seems to work, so there must be an issue with the coirer compute.

[2020-11-03 20:33] dillonhuff opened #93 "harris_sch6 has a buffer that is not an input but has no writers?"
@jeffsetter when I run 'prg.sanity_check()` on `harris_sch6` I get:

[code]

Should this buffer be an input?

[2020-11-03 21:39] jeffsetter commented on #93
There was a weird error in my Halide schedule where `grad_x_unclamp` wasn't being produced. I was able to fix it in https://github.com/dillonhuff/clockwork/pull/94

[2020-11-03 22:02] dillonhuff commented on #93
@jeffsetter thanks! I just merged. Now I get the error:

[code]

[2020-11-03 22:28] jeffsetter commented on #93
What does that mean? I see that it is used here:
[code]

And later hcompute_lgxy_stencil_2 uses it
`hcompute_lgxy_stencil_2->add_load("lgxy_stencil", "lgxy_s1_y", "lgxy_s1_x");`

Is there an issue with this store in between?
[code]

[2020-11-06 21:35] dillonhuff commented on #92
@jeffsetter I've cut out the load loop and just reduced the entire application to the one statement that uses the compute unit to isolate the problem. From what I can see the coreir compute unit always produces 0, while the CPU compute unit does not.

Could you take a look at the coreir compute generation you are doing to see if this is the case? Any help would be appreciated.

[2020-11-08 21:05] jeffsetter commented on #92
I took a look at the compute. I was able to create a visual representation, meaning all of the connections make sense, but it hard to identify if there are any issues.

Btw, the compute is only intended to create a few 255 (representing corners) and all other output values are 0. I might be easier to debug if you end the computation right before the non-maximal suppression (all the compares).

[2020-11-09 00:55] dillonhuff commented on #92
I have alrea

[2020-11-09 00:58] dillonhuff commented on #92
@jeffsetter there are several cases where the Coreir compute unit produces a zero output but the CPU compute unit produces 255. Could you add a testbench to your code where you compare the two different compute units values and let me know if you find any differences? It only takes a few dozen random inputs on my end to get a mismatch between the CPU and coreir compute units.

[2020-11-10 05:06] dillonhuff opened #100 "Malfored ROM init in one of the harris compute units?"
@jeffsetter I'm getting an error:

[code]

In the harris_sch4_1ppc3c compute unit file. There seems to be a ROM in the compute unit file that has `null` values in its init.

[code]

[2020-11-10 05:33] dillonhuff commented on #100
@jeffsetter there is a similar issue in another of the implementations:

[code]

[2020-11-10 05:55] #93 closed

[2020-11-10 05:57] dillonhuff opened #101 "Some loops in 2ppc harris are not unrolled?"
@jeffsetter  some loops in `harris_sch6_2ppc` seem to be unrolled by two, but several others (for example `lgyy_s1_x`) are not unrolled by 2.

Is the intent for this application to have a mix of some inner loops unrolled by two and some not?

[2020-11-10 17:47] jeffsetter commented on #100
Good catch. The original init values were not collected, so I'm not making sure all init values are set. Fixed in https://github.com/dillonhuff/clockwork/pull/102.

[2020-11-10 17:47] jeffsetter commented on #101
This was not intended. It appears that I forgot to unroll the update loops. This is fixed in https://github.com/dillonhuff/clockwork/pull/102.

[2020-11-10 18:30] #101 closed

[2020-11-10 18:41] #100 closed

[2020-11-10 18:45] dillonhuff opened #103 "ROM outputs are wrong"
@jeffsetter it seems that the ROM outputs for the 1 pix / 3 cycles and 1 pix / 9 cycles coreir output is still not correct:

[code]

In addition the interaction of a 1 cycle delay in the compute unit with reduction will make scheduling and codegen more complicated.

Could you modify the harris variants 3 and 4 to load the kernels as inputs at the start of the accelerator instead of using ROMs?

[2020-11-10 18:57] jeffsetter commented on #103
The init values for sch3 and sch4 include negative values. I think that is why you are seeing those values, but you can also check the .json to see if those large values appear (I don't see them).

[2020-11-10 19:02] jeffsetter commented on #103
I recommend reducing the values to a register, which shouldn't have a cycle delay. I don't think there should be hardware limitations on this schedule.

I'm not sure how loading the kernels as inputs would differ from a ROM.

[2020-11-10 19:06] dillonhuff commented on #103
Loading the kernels as inputs would make the array that holds the values of the kernels visible to the scheduler (which is important for reduction) and would get around this coreir generation bug.

Could you please change the schedules for sch3 and sch4 to load the kernel values explicitly?

[2020-11-10 20:30] jeffsetter commented on #103
I changed sch3 and sch4 with memories instead of roms. I think this makes it visible to the schedule. Since the roms do not behave like the other inputs, they can't as easily be added as inputs.
Fixed in https://github.com/dillonhuff/clockwork/pull/104.

[2020-11-10 21:04] dillonhuff commented on #103
@jeffsetter thanks!

I pulled and now I get an error finding compute units:

[code]

[2020-11-10 21:35] dillonhuff commented on #103
@jeffsetter if it is easier for you in codegen another solution would be to break up compute units that read from ROMs into two statements: one statement that reads from the ROM and stores the value to a temporary array, and another that reads the value out of the temporary and then performs the purely combinational part of the computation.

[2020-11-10 21:39] jeffsetter commented on #103
That sounds like what I have done with this latest design. The jsons were not being generated due to a timestamp error that was confusing the Makefile. The jsons should be populated in https://github.com/dillonhuff/clockwork/pull/105.

[2020-11-11 22:03] dillonhuff commented on #92
@jeffsetter I have written a compute unit regression test generator and used it to test all of the harris variants compute units.

[2020-11-11 22:03] #92 closed

[2020-11-11 22:29] dillonhuff opened #107 "harris_sch1_onebuf compute units are incorrect"
@jeffsetter I have written a compute unit regression test generator and used it to compare the outputs of the coreir and cpp compute units in isolation for each compute unit in `harris_sch1_onebuf`.

The C++ and coreir compute units `hcompute_hw_output_stencil` give different results for some inputs. For example:

[code]

The collateral for this test is here:
https://github.com/dillonhuff/clockwor

[2020-11-11 22:33] dillonhuff opened #108 "In prog: harris_sch2_fourbuf compute unit: hcompute_lgxx_stencil_1 has a mismatch between C++ and coreir"
@jeffsetter another compute unit inconsistency in a different harris variant:

[code]

Could you please reproduce this on your end and fix it?

[2020-11-11 22:37] dillonhuff opened #109 "harris_sch3_1pp9c_compute.h uses 32 bit values for the kernel init functions"
@jeffsetter is this intended?

Example: https://github.com/dillonhuff/clockwork/blob/4672db925eb437ee84ce1aaa191cd4f673f0d2e6/harris_sch3_1pp9c_compute.h#L7

[2020-11-11 22:39] dillonhuff opened #110 "harris_sch4_1pp3c_compute.h uses 32 bit values for the kernel init functions"
@jeffsetter I assume this is related to #109

Looks like the same issue: https://github.com/dillonhuff/clockwork/blob/4672db925eb437ee84ce1aaa191cd4f673f0d2e6/harris_sch4_1pp3c_compute.h#L7

[2020-11-11 22:44] dillonhuff commented on #108
@jeffsetter the testbench is here: https://github.com/dillonhuff/clockwork/tree/master/compute_unit_regressions/harris_sch2_fourbuf/hcompute_lgxx_stencil_1

[2020-11-12 19:36] jeffsetter commented on #108
I think I figured out the issue with the compute unit, which has to do with signed numbers and shifting. For this application, I never intended numbers to overflow during the multiplication, so I will change the clamp from 255 to 180.

Regarding your testbench, the cpp result is accounting for the overflow, while your coreir result is not. I believe the verilog is incorrect, resulting in the bitsh

[2020-11-12 19:37] jeffsetter commented on #109
It should work, but I'll change it to 16bits to be consistent.

[2020-11-12 19:37] jeffsetter commented on #110
It should work, but I'll change it to 16bits to be consistent.

[2020-11-12 19:54] jeffsetter commented on #108
Another solution could be using `wire signed` when applicable.

[2020-11-12 19:57] dillonhuff commented on #108
@jeffsetter that makes sense. LMK when you have updated the compute units and I'll retry the regression.

[2020-11-12 21:16] jeffsetter commented on #108
To clarify, the reason why it is failing right now is that the verilog generation is not correct. I would fix that first before we change the clamp values. I suspect this is also why sch1 is not working.

[2020-11-12 21:46] jeffsetter commented on #107
The verilog is incorrect. Changing all wires to `wire signed` fixes the issue.

[2020-11-12 22:05] dillonhuff commented on #108
@jeffsetter I cannot fix the verilog generation since that is done by coreir.

@rdaly525 can you take a look at this example?

[2020-11-12 22:08] dillonhuff commented on #109
@jeffsetter thanks!

Actually the system will not work even if the width semantics are not a problem because the application-level regression tests also fail because the `buffer_port_widths` listed in the actual `prog` needs to be the same for the C++ compute units and the coreir compute units in order for both of them to compile.

[2020-11-12 22:26] dillonhuff commented on #107
@jeffsetter thanks for looking into this!

@rdaly525 I assume this is a similar code generation issue to #108

[2020-11-13 03:32] #109 closed

[2020-11-13 03:32] #110 closed

[2020-11-13 03:35] dillonhuff opened #112 "In prog: harris_sch4_1pp3c compute unit: hcompute_cim_stencil has a mismatch between C++ and coreir"
@jeffsetter @rdaly525 I'm guessing this is related to #108 but there is an error in one of the Harris sch4 compute units:

[code]

Could you take a look at this?

Testbench is here: https://github.com/dillonhuff/clockwork/tree/master/compute_unit_regressions/harris_sch4_1pp3c/hcompute_cim_stencil

[2020-11-13 04:12] jeffsetter commented on #112
Can confirm. After modifying "wire" to "wire signed", it passes.

[2020-11-15 11:37] joyliu37 opened #113 "Index Variable Need by Compute"
I am debugging camera pipeline now and get a coreir generation error, when call this loop block.
https://github.com/dillonhuff/clockwork/blob/878ed57ee7919960791b6fbc4d8e4bc267fdb901/coreir_backend.cpp#L1246-L1250

It said that it could not find the `exe_start_control_vars`. I am wondering this control singal is not generated since I disable most of the control logic. Could you show me where is th

[2020-11-15 20:47] dillonhuff commented on #113
@joyliu37 right, that wire comes out of an on-fabric controller that I generate here: https://github.com/dillonhuff/clockwork/blob/11502475146caf70df1e7da8069c298ece88fd20/coreir_backend.cpp#L1800-L1805

[2020-11-15 20:55] joyliu37 commented on #113
So camera pipeline computation stage need the index information as well? So we need to generate the it and feed in?
OK. I think I need to remerge master again. This changes made a day ago. Are you refactoring the controller generation into this function?

[2020-11-15 20:58] dillonhuff commented on #113
@joyliu37 yes demosaicing needs the loop index variables so we need to send the index variables from an on-fabric controller to the compute unit.

Yes I am refactoring the codegen because Tony and I are adding support for the other memory tile variants we are going to need for the paper.

[2020-11-15 21:30] joyliu37 commented on #113
Cool, let me pull the changes and add that index controller.

[2020-11-16 07:06] joyliu37 commented on #113
I saw you make some changes in cgralib.cpp, In the current memory tile there are no `chain_data_output`. I want to make some changes to it. Is there a sanity check test that I need to run except `cgra-flow` and `travis-tests` that make sure I did not break your test? I think you may create some dual port memory test this weekend.

[2020-11-16 07:18] dillonhuff commented on #113
@joyliu37 I am making some new tests. I just pushed the most recent version with resnet and mobilenet using the dual port, external addrgen tile.

As long as `cgra-flow` and `travis-tests` pass your changes are ok.

[2020-11-16 07:20] joyliu37 commented on #113
Oops, it seems trigger a coreIR select error in resnet with chaining. Let me dig into that.

[2020-11-16 07:22] dillonhuff commented on #113
Which resnet is breaking? The resnet in my tests that uses the dual port tile or the resnet in your branch that uses the wide-fetch tile?

[2020-11-16 07:45] joyliu37 commented on #113
Umm, your resnet test. I would add index to the chain_data_in and chain_data_out since they will associate with each port.

[2020-11-16 07:52] joyliu37 commented on #113
OK. I just add a if guard, it seems that you always use dual port SRAM with external controller. I put your chaining definition under there.

[2020-11-16 07:55] dillonhuff commented on #113
@joyliu37 cool. Sounds good.

[2020-11-16 07:56] joyliu37 commented on #113
I am a little curious, did you implement chaining by yourself? I did not see you link any lake stuff.

[2020-11-16 08:00] dillonhuff commented on #113
@joyliu37 yeah for the SRAM + external address gen I just built in on the fabric:

https://github.com/dillonhuff/clockwork/blob/64af42c1606e6f9bd7dee80e802732d524108c6a/coreir_backend.cpp#L4079-L4104

[2020-11-16 08:51] joyliu37 commented on #113
I got a `chain_data_out` is not connected error when use coreIR to generate verilog in the ResNet M1 test.
Do we need to wire the chain_data_out if it's not used?

[2020-11-16 16:09] dillonhuff commented on #113
@joyliu37

[2020-11-16 16:09] #113 closed

[2020-11-16 19:01] joyliu37 opened #115 "Garnet CGRA Mapping was Accidentally Commented out"
It won't map to CGRA if you disable the cgramapper pass. Shall we uncomment it?
https://github.com/dillonhuff/clockwork/blob/7862786af09848e1bc304838a30a0f644b12f28c/coreir_backend.cpp#L2260

[2020-11-16 20:03] dillonhuff commented on #115
@joyliu37 uncommenting it breaks my resnet test. LMK if you see the same thing on your end.

[2020-11-17 22:36] rdaly525 commented on #112
Sorry, just saw this. Ill take a look.

[2020-11-17 23:42] rdaly525 commented on #108
@dillonhuff Just ran the testbench locally and I cannot reproduce. The randomized verilator test seems to pass

[2020-11-17 23:43] rdaly525 commented on #108
Also the generated coreir and verilog visually looks correct to me.

[2020-11-21 04:59] dillonhuff opened #118 "In prog: unsharp compute unit: hcompute_ratio_stencil has a mismatch between C++ and coreir"
@jeffsetter now unsharp has an error in its compute units:

[code]

[2020-11-21 05:49] dillonhuff opened #119 "up_sample_compute.json does not exist?"
@jeffsetter I don't see `up_sample_compute.json` in the `coreir_apps` directory. Could you add it?

[2020-11-21 06:00] jeffsetter commented on #118
This is another instance where the shift is not behaving the same in coreir and the cpu.
Similar to this: https://github.com/dillonhuff/clockwork/issues/108

[2020-11-21 06:07] jeffsetter commented on #119
Here it is: https://github.com/dillonhuff/clockwork/pull/120

It was hiding behind the .gitignore

[2020-11-22 00:38] #119 closed

[2020-11-22 00:40] dillonhuff opened #121 "Add conv_3_3 compute?"
@jeffsetter Kathleen has gotten a power flow example working with `conv_3_3` but we don't have the compute units for it in this repo, so I can't cross-reference it. LMK if you can add it.

[2020-11-22 02:13] #121 closed

[2020-11-22 23:39] dillonhuff opened #124 "Change back to registers inside of compute units for harris variants other than 1/3 and 1/9 of a pixel per cycle?"
@jeffsetter after taking another look at the applications I think it would be easier to get memory tile counts for the Harris variants if we put the kernel initialization inside the compute units for all of the variants except the ones that produce fewer than 1 pixel per cycle.

Could you update the harris variants 5, 6, 7, and 8 to have the kernel initialization inside the compute units?

[2020-11-23 02:17] #124 closed

[2020-11-23 05:06] jeffsetter opened #126 "Mobilenet unrolled too much?"
I tried getting FPGA power numbers for the mobilenet_unrolled code, but I encounter an error that there is too much IO:
[code]

Should we unroll it less?

[2020-11-23 05:51] dillonhuff commented on #126
@jeffsetter I don't think the issue is unrolling of the design itself it is just unrolling of the statements that load the 3x3 filter values, similar to the Harris weight loading issue. For example when I `pretty_print` mobilenet I see the following long sequence of assignments:

[code]

[2020-11-23 06:02] jeffsetter commented on #126
Okay, let me try rolling the IOs related to the weight initialization.

[2020-11-23 06:09] dillonhuff commented on #126
@jeffsetter I was also curious what the CGRA implementation of this loading should be. Should these values be loaded into datapath registers at configuration time?

[2020-11-23 06:14] jeffsetter commented on #126
I was expecting the weights to be loaded into memory tiles. If we were able to control the write_enable signals on the registers, you could load them into datapath registers, but I don't think our CGRA is able to do that.

[2020-11-23 06:30] dillonhuff commented on #126
From looking at the code every weight in the filter needs to be read simultaneously, so I assume that means that each memory bank will need to have only one entry that is used?

[2020-11-23 06:30] dillonhuff commented on #126
@jeffsetter sorry I meant to say "each memory tile will store only one filter value"

[2020-11-23 06:33] jeffsetter commented on #126
Yes, each memory would only store 1 value. If you wanted, you could store 2 and then output 2, since they are multiported, but that's just a tiny optimization.

[2020-11-23 06:34] dillonhuff commented on #126
@jeffsetter makes sense!

[2020-11-23 20:07] dillonhuff opened #128 "Unroll box loops in harris_sch2_fourbuf"
@jeffsetter there are several reduce loops such as

[code]

Where there are rolled up reduce loops. Could you fully unroll all reduce loops in harris variant 2?

[2020-11-23 20:45] jeffsetter commented on #128
Done in https://github.com/dillonhuff/clockwork/pull/127

[2020-11-24 00:25] #128 closed

[2020-11-24 00:26] dillonhuff commented on #126
@jeffsetter with the most recent PR merged `hw_filter_pw_global_wrapper_stencil` is still fully unrolled. Was that intentional?

[2020-11-24 01:15] jeffsetter commented on #126
Oh, I'm sorry. I commented out the wrong unrolls. We want hw_filter_pw_global_wrapper_stencil and hw_filter_dw_global_wrapper_stencil to be rolled up. I'll fix that.

[2020-11-24 01:42] jeffsetter commented on #126
Hm, something weird is happening with my testbench when I don't unroll dw, so I'll leave that unrolled. I think rolling up `pw` is the important part.

[2020-11-24 02:45] dillonhuff commented on #126
@jeffsetter I have updated mobilenet here: https://github.com/dillonhuff/clockwork/blob/master/soda_codes/mobilenet_unrolled/our_code/mobilenet_unrolled.cpp

Please run it through the power flow and LMK if it gets through ASAP. There is not much time to make additional changes, so I really need to know soon if the app gets through.

[2020-11-24 02:46] jeffsetter commented on #126
will do

[2020-11-24 06:18] jeffsetter commented on #126
This worked, and I was able to get the FPGA power. Thanks!

[2020-11-24 06:18] #126 closed

[2020-12-01 17:49] joyliu37 opened #130 "Question about shift register optimization pass in coreIR backend"
I am refactoring my shift-register optimization pass. (`generate_bank_and_merge`, `port_group_banks`)
Eventually the difference between single port mem and dual port is just the bank grouping.
I am going over some of the code in https://github.com/dillonhuff/clockwork/blob/4fc749af30ec300ac15eeb27d476eaa313351b19/coreir_backend.cpp#L4501.
I am wondering if this method is stable? I could leverage s

[2020-12-01 22:15] dillonhuff commented on #130
@joyliu37 its not that stable, but the data structure `dgraph` is. You could just copy the logic you want for now.

[2020-12-01 23:26] joyliu37 commented on #130
Sounds good. I will use `dgraph` and `ubuffer_impl`. I think it's a good idea to have some separate data structure carrying the hardware graph structure, instead of saving that inside `ubuffer.bank_list`

[2020-12-11 18:51] #130 closed

[2020-12-21 23:18] joyliu37 opened #133 "Unsharp Did not Work in CGRA flow test for M1 and M3 backend"
9f319f5 is the first bad commit
commit 9f319f5
Author: Jeff Setter setter@stanford.edu
Date: Sun Nov 22 11:02:32 2020 -0800

Fix unsharp kernel values

Unsharp break after this commit in master

[2020-12-22 03:46] joyliu37 opened #134 "Upsample did not pass for M1 and M3 after changing the storage order"
comment out upsample for `isca_program()`
https://github.com/dillonhuff/clockwork/blob/28e80b13dfcb463c235ad85bf57131ca759a25ff/build_set_test.cpp#L17485

[2021-01-23 01:29] joyliu37 opened #139 "Bug in binary search for minimum operation delay"
https://github.com/dillonhuff/clockwork/blob/bfc8323c0b8d25948461e1e50cf0cc60d4efbf57/prog.cpp#L7602

Should this be (left + right)/2 instead of (left-right)/2 in binary search?

[2021-01-23 10:44] dillonhuff commented on #139
@joyliu37 that code produces the results I expect for all the examples in cgra-flow, so I would just leave it unless it is producing a bad schedule for another app.

[2021-01-24 23:00] joyliu37 commented on #139
It produce an infinite loop for Resnet scheduling in the lake-tests.

[2021-01-25 03:18] dillonhuff commented on #139
Does the change you suggested fix it? If so just make the change and merge to master.

[2021-01-25 07:18] joyliu37 commented on #139
Yeah.
Are dhuff-test and cgra-flow the regression tests a PR must pass?

[2021-01-25 12:00] dillonhuff commented on #139
Yes

On Monday, January 25, 2021, Qiaoyi(Joey) Liu <notifications@github.com>
wrote:

[2021-01-25 18:06] jeffsetter opened #140 "Issues with dynamic stores/loads"
I tried making a histogram test, but am having issues with the unoptimized version running. The error I encounter is:

[code]
Attached are the files that I used to create the histogram test.
[histogram_compute.txt](https://github.com/dillonhuff/clockwork/files/5868624/histogram_compute.txt)
[histogram_memory.txt](https://github.com/dillonhuff/clockwork/files/5868625/histogram_memory.txt)

[2021-02-01 19:10] dillonhuff commented on #140
@jeffsetter could you re-name this application? We already have an app called `histogram` and a corresponding compute file, so I'd have to overwrite that one in the repo to test this one.

[2021-02-01 19:13] jeffsetter commented on #140
Do you mean changing the line `prg.name = "histogram";` to something else?

[2021-02-01 19:26] dillonhuff commented on #140
yes, and changing whatever other names you need to change in order for the compute unit file to have a different name.

[2021-02-01 19:27] jeffsetter commented on #140
[histogram1d_compute.txt](https://github.com/dillonhuff/clockwork/files/5906261/histogram1d_compute.txt)
[histogram1d_memory.txt](https://github.com/dillonhuff/clockwork/files/5906263/histogram1d_memory.txt)

[2021-02-05 00:06] dillonhuff commented on #140
@jeffsetter thanks!

Having looked into this more I'd recommend a temporary solution: When you generate the compute units that receive data from a dynamic load just add dummy arguments to the compute units (one for each buffer that is used in the dynamic address calculation). That should silence this bug.

I only ever implemented one example that uses dynamic access as a demo (see here: https://gi

[2021-02-23 07:01] jeffsetter opened #151 "Issue with modulus"
I have an issue using a modulus operator in this upsample example. Is there an issue with the way it's written?

[mod_example_memory.txt](https://github.com/dillonhuff/clockwork/files/6027179/mod_example_memory.txt)
[mod_example_compute.txt](https://github.com/dillonhuff/clockwork/files/6027180/mod_example_compute.txt)

[2021-02-23 09:02] dillonhuff commented on #151
@jeffsetter since you did not say what the issue was I don't actually know if I fixed the problem. But I fixed the only problem that I ran into with running the unoptimized version of that app. Please file another issue if there is something else.

[2021-02-23 09:02] #151 closed

[2021-03-02 00:00] jeffsetter commented on #140
The above worked for simple dynamic stores/loads.

However, the more recent example (bilateral_grid) has multiple dimensions that are dynamically loaded/stored. Is there a suggestion on how create this? Below is the error I'm seeing.
[code]

The associated files are below:
[bilateral_compute.txt](https://github.com/dillonhuff/clockwork/files/6065186/bilateral_compute.txt)
[bilateral_memory.txt](ht

[2021-03-03 20:47] dillonhuff commented on #140
@jeffsetter you could try flattening the access pattern to a 1D address. clockwork has no support for multi-dimensional dynamic accesses.

[2021-03-06 01:34] kosho2013 opened #152 "FFT8 doesn't pass memory mapper"
@joyliu37
FFT8 doesn't pass memory mapper, some issues with buffer.

**clockwork: ubuffer.cpp:4343: bank UBuffer::compute_bank_info(uset*, isl_point*, std::set<std::__cxx11::basic_string<char> >, std::set<std::__cxx11::basic_string<char> >): Assertion `false' failed.
./rebuild_and_run.sh: line 8: 21439 Aborted                 (core dumped) ./clockwork $1**

[2021-03-09 06:46] joyliu37 commented on #152
This is supposed to be a banking issue.
Which branch are you in and what's the command to reproduce this issue?

[2021-03-09 18:01] kosho2013 commented on #152
My branch is called "kosho".
The command is "./rebuild_and_run.sh lake-exp".
You can modify the apps in "build_set_test.cpp" to experiment with different unrolling schemes.

[2021-03-15 06:32] #139 closed

[2021-03-15 06:33] #115 closed

[2021-03-15 06:38] joyliu37 opened #155 "FFT Breaks Ratematched Scheduler"
I am encountering the following error when running garnet single port scheduling on the fft app.
[code]
I think it's the fft's access pattern lead to this assertion. Like this
[code]
You can run `./rebuild_set_test.sh lake-exp` in the fft branch to reproduce this issue.
Can you help me to take a look.

[2021-03-15 20:58] dillonhuff commented on #155
@joyliu37 yes, the expression `(f4_s1_t_x + 2) % 4)` certainly is not going to work in a rate matched scheduler. A different scheduling algorithm will be needed, or the design will need to be pre-processed to over-approximate the dependencies created by this access pattern.

[2021-03-17 17:33] jeffsetter opened #156 "Bank selection logic generation fails"
I'm having trouble generating the unoptimized code for lucas_kanade. I encounter this error:
[code]
Do you know what the issue is?

The files for lucas_kanade are here:
[lucas_kanade_compute.txt](https://github.com/dillonhuff/clockwork/files/6158372/lucas_kanade_compute.txt)
[lucas_kanade_memory.txt](https://github.com/dillonhuff/clockwork/files/6158373/lucas_kanade_memory.txt)

[2021-03-31 07:16] dillonhuff commented on #156
The program contains a buffer that is read but never written apparently:

[code]

You can reproduce this check like so: https://github.com/dillonhuff/clockwork/blob/703a27634eb2d58350c5c1a24c7b64779d8587e9/build_set_test.cpp#L25235-L25237

[2021-03-31 16:41] jeffsetter commented on #156
Thanks, that resolved this part of the problem. There is a subsequent problem with $floor and $rtoi, but I'll create another issue.

[2021-03-31 16:41] #156 closed

[2021-03-31 16:54] jeffsetter opened #162 "Boundary Cases"
I was wondering if these outputs from Halide were valid in clockwork. And if they properly map to the FPGA (I already know that the CGRA has issues with these piecewise stores).

I specifically have concerns about:
```hcompute_repeat_image_stencil->add_load("hw_input_global_wrapper_stencil", "63", "select(((64 <= repeat_image_s0_x) || (repeat_image_s0_x < 0)), (repeat_image_s0_x % 64), max(min(rep

[2021-03-31 18:35] dillonhuff commented on #162
@jeffsetter would you mind adding these apps to `example_progs` instead of sending me the text files?

[2021-03-31 23:07] jeffsetter opened #163 "BFloat implementation"
Several of my applications use bfloat types, including applications intended to test the bfloat hardware on the CGRA. What is the plan for supporting bfloat16_t?

[2021-04-01 22:05] dillonhuff commented on #163
@jeffsetter for the CGRA I have no idea. I assume the PE people are the ones to ask about that. From clockworks point of view a bfloat is just a 16 wide bit vector that gets moved between compute units, so it doesn't need any special treatment.

[2021-04-01 22:12] dillonhuff commented on #162
@jeffsetter so what are the concerns? Do the applications not run through the flow that you have used for other applications? If clockwork crashes on them could you send me the errors you see on your end?

[2021-04-01 22:37] jeffsetter commented on #163
In order to run any pass through clockwork, I include the compute file. bfloat16_t is not recognized from the beginning, therefore, I can't run through any steps of clockwork.
```bin/fp_conv_2_2_compute.h:15:3: error: ‘bfloat16_t’ was not declared in this scope```

[2021-04-01 22:42] jeffsetter commented on #162
My flow only runs to the CGRA, so I don't know if any run through the FPGA. The have the following errors:

bc_const:
```clockwork_codegen: prog.cpp:7811: isl_map* build_buffer_impl(prog&, UBuffer&, schedule_info&, ubuffer_impl&): Assertion `has_embarassing_partition' failed.```

bc_repeat:
```clockwork_codegen: prog.cpp:1305: std::map<std::__cxx11::basic_string<char>, UBuffer> build_buffers(prog&

[2021-04-28 08:53] lyuchuny3 opened #165 "build/make problem"
Platform: x86-linux
1. run ./misc/install_deps_linux.sh   DONE
2. run  ./rebuild_and_run.sh
error:
[code]
I fix this by add Makefile `-I clockwork/include/isl`
after, I rerun ./rebuild_and_run.sh, and get the following error:
[code]

[2021-06-20 00:28] joyliu37 commented on #165
Did you source the user settings?
https://github.com/dillonhuff/clockwork#setting-your-private_settingssh

[2021-07-19 22:45] joyliu37 opened #167 "multilinear_address code generation uses stack memory, lead to segfault when generating large memory"
When Jeff and me test a large application with global buffer, we notice that the unoptimized regression test will give us seg fault.
After a quick debugging, I found the `multi linear address` codegen option will generate cache in stack memory(static array).
I also find there is a `linear_address` codegen options that we could use and it assign heap array.
https://github.com/dillonhuff/clockwork/b

[2021-07-19 23:34] dillonhuff commented on #167
That should be fine. LMK if something else breaks because of it.

[2021-07-19 23:34] #167 closed

[2021-08-04 03:57] jeffsetter opened #169 "Gaussian unroll=4"
I tried creating an unrolled version of gaussian that uses unroll=4. However, there seems to be an issue with the unoptimized code. Specifically with the error below. The app is here: https://github.com/dillonhuff/clockwork/blob/aha/example_progs/gaussian_unroll.cpp

[code]

[2021-08-04 04:31] jeffsetter opened #171 "Small resnet layers segfault"
I'm experiencing a segfault when running the unoptimized version of this resnet layer. Larger layers seem to work fine.

App: https://github.com/dillonhuff/clockwork/pull/170

[2021-08-04 05:03] jeffsetter commented on #171
On suggestion from Joey, I tried his other branch (glb) that uses heap memory. This seems to fix the issue.
Merging the glb branch (or at least that feature) should happen.

[2021-08-06 20:50] dillonhuff commented on #169
@jeffsetter the application seems to have piecewise access expressions, which is not currently supported:

https://github.com/dillonhuff/clockwork/blob/234955f3af53ff51d9f4acb30b91eeaa1b38b105/example_progs/gaussian_unroll.cpp#L128

[2021-08-06 22:04] jeffsetter commented on #169
Ah I see. I was able to resolve this in Halide by changing my unroll TailStrategy to use RoundUp.

[2021-08-06 22:04] #169 closed

[2022-01-11 07:37] joyliu37 opened #174 "Rate Matched Schedule Fail for camera pipeline application"
Hi Dillon@dillonhuff , Jeff and I are testing a version of camera pipeline with intermediate buffer generated in the demosaic stage. We also unroll the x dimension by 2 to generate a higher output rate. I saw the following assertion in the `extract_linear_rational_approximation(isl_aff*)` function. Could you help us check what's wrong with this app?

I am using `new_lake` branch,
The prog is in `e

[2022-05-05 23:43] joyliu37 opened #184 "Matmul unroll 2 should change loop bound into 16 since it unrolled"
https://github.com/dillonhuff/clockwork/blob/5c41205e8ec0e6dafb357373ec4d70688baa1896/example_progs/matmul.cpp#L57-L58

[2022-05-07 00:20] jake-ke opened #185 "Changes needed for the Lake area optimization"
### Missing compute unit file:
- [x] test_glb/gaussian_isscc
- [x] test_glb/camera_pipeline_isscc
- [x] test_glb/unsharp_isscc
- [x] test_glb/resnet1
- [x] test_glb/resnet4_x
- [x] test_glb/resnet5_1
- [x] test_glb/resnet_5_x_new
- [x] test_glb/resnet_5_1_new
- [x] test_glb/resnet5_1_unroll_cyclic
- [x] test_glb/resnet_output_stationary_tiny
- [ ] test_glb/resnet5_1_full
- [ ] test_glb/resnet2_x_f

[2022-09-30 02:44] jake-ke opened #188 "test_single_port_mem/matmul_unroll2 (mismatch, agg2sram write not prioritized)"

[2022-09-30 02:44] #188 closed, assigned to nobody